.skills {
    background-color: #F5F5F5;
    padding-bottom: 50px;
    .title {
      width: 100%;
      background-color: #F5F5F5;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
      .shapeRed {
        width: 16px;
        height: 16px;
        padding-right: 10px;
      }
    }
    .subTitle {
        background-color: #F5F5F5;
        display: flex;
        justify-content: space-around;
        h3 {
            font-size: 16px;
            font-weight: 500;
            text-align:center;
        }
        .softSkills {
            p {
                width: 250px;
                text-align:center;
            }
        }
        .hardSkills {
            p {
                width: 250px;
                text-align:center;
            }
            .hardSkillsIcons {
                width: 300px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .hardSkillsIcon {
                    width: 32px;
                    height: 32px;
                    padding: 30px;
                }
            }
        }
    }
}